.button {
  -fx-cursor: hand;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 5, 5);
  -fx-text-fill: black;
  -fx-font-family: "Fira Code";
  -fx-font-size: 15;
  -fx-font-weight: normal;
  -fx-alignment: center;
  -fx-background-color: white;
  -fx-background-radius: 10px;
  -fx-border-padding: 0 0 20 0;
}

.button:hover {
  -fx-background-color: #ffff00;
}

.button:pressed {
  -fx-background-color: grey;
}
